###############################################################################
#                            LOCATION PATH                                    #
###############################################################################

ORIGIN="demoproject/sql/"  # path in project repository

###############################################################################
#                DICTIONARY OF DATABASES IN ALL ENVIRONMENTS                  #
###############################################################################

SL[DEV]=dev_demo_sl # DEMO PROJECT STAGE LAYER IN DEVELOPMENT ENVIRONMENT
IL[DEV]=dev_demo_il # DEMO PROJECT INTEGRATED LAYER IN DEVELOPMENT ENVIRONMENT
AL[DEV]=dev_demo_al # DEMO PROJECT ACCESS LAYER IN DEVELOPMENT ENVIRONMENT
ML[DEV]=dev_demo_meta # DEMO PROJECT METADATA LAYER IN DEVELOPMENT ENVIRONMENT

SL[SBX01]=sbx01_demo_sl # DEMO PROJECT STAGE LAYER IN SANDBOX01 ENVIRONMENT
IL[SBX01]=sbx01_demo_il # DEMO PROJECT INTEGRATED LAYER IN SANDBOX01 ENVIRONMENT
AL[SBX01]=sbx01_demo_al # DEMO PROJECT ACCESS LAYER IN SANDBOX01 ENVIRONMENT
ML[SBX01]=sbx01_demo_meta # DEMO PROJECT METADATA LAYER IN SANDBOX01 ENVIRONMENT

SL[SBX02]=sbx02_demo_sl # DEMO PROJECT STAGE LAYER IN SANDBOX02 ENVIRONMENT
IL[SBX02]=sbx02_demo_il # DEMO PROJECT INTEGRATED LAYER IN SANDBOX02 ENVIRONMENT
AL[SBX02]=sbx02_demo_al # DEMO PROJECT ACCESS LAYER IN SANDBOX02 ENVIRONMENT
ML[SBX02]=sbx02_demo_meta # DEMO PROJECT METADATA LAYER IN SANDBOX02 ENVIRONMENT

SL[SBX03]=sbx03_demo_sl # DEMO PROJECT STAGE LAYER IN SANDBOX03 ENVIRONMENT
IL[SBX03]=sbx03_demo_il # DEMO PROJECT INTEGRATED LAYER IN SANDBOX03 ENVIRONMENT
AL[SBX03]=sbx03_demo_al # DEMO PROJECT ACCESS LAYER IN SANDBOX03 ENVIRONMENT
ML[SBX03]=sbx03_demo_meta # DEMO PROJECT METADATA LAYER IN SANDBOX03 ENVIRONMENT

SL[SBX04]=sbx04_demo_sl # DEMO PROJECT STAGE LAYER IN SANDBOX04 ENVIRONMENT
IL[SBX04]=sbx04_demo_il # DEMO PROJECT INTEGRATED LAYER IN SANDBOX04 ENVIRONMENT
AL[SBX04]=sbx04_demo_al # DEMO PROJECT ACCESS LAYER IN SANDBOX04 ENVIRONMENT
ML[SBX04]=sbx04_demo_meta # DEMO PROJECT METADATA LAYER IN SANDBOX04 ENVIRONMENT

SL[SBX05]=sbx05_demo_sl # DEMO PROJECT STAGE LAYER IN SANDBOX05 ENVIRONMENT
IL[SBX05]=sbx05_demo_il # DEMO PROJECT INTEGRATED LAYER IN SANDBOX05 ENVIRONMENT
AL[SBX05]=sbx05_demo_al # DEMO PROJECT ACCESS LAYER IN SANDBOX05 ENVIRONMENT
ML[SBX05]=sbx05_demo_meta # DEMO PROJECT METADATA LAYER IN SANDBOX05 ENVIRONMENT

SL[TST]=tst_demo_sl # DEMO PROJECT STAGE LAYER IN TEST ENVIRONMENT
IL[TST]=tst_demo_il # DEMO PROJECT INTEGRATED LAYER IN TEST ENVIRONMENT
AL[TST]=tst_demo_al # DEMO PROJECT ACCESS LAYER IN TEST ENVIRONMENT
ML[TST]=tst_demo_meta # DEMO PROJECT METADATA LAYER IN TEST ENVIRONMENT

SL[PRD]=prd_demo_sl # DEMO PROJECT STAGE LAYER IN PRODUCTION ENVIRONMENT
IL[PRD]=prd_demo_il # DEMO PROJECT INTEGRATED LAYER IN PRODUCTION ENVIRONMENT
AL[PRD]=prd_demo_al # DEMO PROJECT ACCESS LAYER IN PRODUCTION ENVIRONMENT
ML[PRD]=prd_demo_meta # DEMO PROJECT METADATA LAYER IN PRODUCTION ENVIRONMENT

###############################################################################
#                      DEPLOYMENT ORDER SPECIFICATION                         #
###############################################################################

ORDERS+=(3_exe/sp_deployment_start.sql)
DEPLOYMENT[3_exe/sp_deployment_start.sql]=deployment.sql 

ORDERS+=(*/*/*/*.tbl)
DEPLOYMENT[*/*/*/*.tbl]=deployment.sql 

ORDERS+=(1_layers/1_stage/*.sql)
DEPLOYMENT[1_layers/1_stage/*.sql]=deployment.sql 

ORDERS+=(*/*/*/0_*.vw)
DEPLOYMENT[*/*/*/0_*.vw]=deployment.sql 

ORDERS+=(*/*/*/0_*.sql)
DEPLOYMENT[*/*/*/0_*.sql]=deployment.sql 

ORDERS+=(2_load/*.sql)
DEPLOYMENT[2_load/*.sql]=deployment.sql 

ORDERS+=(3_exe/sp_deployment_end.sql)
DEPLOYMENT[3_exe/sp_deployment_end.sql]=deployment.sql 
